{% extends "orders/layouts/default.html" %}

{% block title %} Contact Us {% endblock %}

{% block body %}

{% include "orders/includes/navbar.html" %}

<div class="container">
<div class="alert alert-primary" role="alert">
    <h2 class="mb-2">Contact Us.</h2>
    <p class="mb-2">- Our phone numbers are 617-876-4897 or 617-876-0012.</p>
    <p class="mb-2">- Our fax number is 617-661-6188</p>
    <p class="mb-2">- Find us on Twitter @PinocchiosPizz</p>
    <p class="mb-2">- And Instagram @pinocchiospizza1</p>
    <p class="mb-2">- Our mailing address is:</p>
    <p class="mb-2">- Pinocchio's Pizza <br/>
        74 Winthrop Street Cambridge,<br/>
        MA 02138</p>
    <p class="mb-2">- If you have any questions or comments or would like to get on our email list you can email us at <br/>
    <body>
        <a href="https://gmail.com/" style="color:#FF0000;">pinocchiospizza1@gmail.com</a>
    </body> </p>

  </div>
</div>
{% endblock %}