{% extends "orders/layouts/default.html" %}

{% block title %} Orders {% endblock %}

{% block body %}

  {% include "orders/includes/navbar.html" %}

{% with action=True %}

<div class="container">
  <div id="shopping-cart-container">
    <div class="shopping-cart">
      {% include "orders/includes/item_tables.html" %}
    </div>

  {% if items or custom_items %}
    <hr>
    {% include "orders/includes/place_order_button.html" %}
  {% endif %}

  {% include "orders/includes/message.html" %}
  {% include "orders/includes/shopping_cart_navbar.html" %}
</div>
{% endwith %}

{% endblock %}